

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species</title>
    <link rel="stylesheet" href="public.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair&family=Raleway:ital,wght@0,200;1,100&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav>
        <img  id="logo" src="logo.png" alt="">

        <div id="links">
            <a href="/">Home</a>
            <a href="/species" >Species wheat</a>
            <a href="/diseases" class="current">Fungal diseases</a>
            <a href="/protocols">Protocols</a>
            <a href="/admin">Admin</a>
           
        </div>
    </nav>




    <div class="container" style="margin-top: 150px;" id="diseases">
        
        <h1 class="title">Diseases </h1>
        
        <div class="flexible">
            <div style="max-width: 400px;">
                <h3><strong>Wheat leaf rust</strong></h3>
                <p><strong>agent pathogen : </strong>Puccinia triticina</p>
                <p><strong>symptoms : </strong>Leaf rust is characterized by the uredinial stage. Uredinia are up to 1.5 mm in diameter, erumpent, round to ovoid, with orange to brown uredinia that are scattered on both the upper and the lower leaf surfaces of the primary host. Uredinia produce urediniospores that are sub-globoid, average 20 microm in diameter and are orange-brown, with up to eight germ pores scattered in thick, echinulate walls.(Bolton et al.,2008)</p>
                <p><strong>references :</strong>
                    Bolton, M. D., Kolmer, J. A., & Garvin, D. F. (2008). Wheat leaf rust caused by Puccinia triticina. Molecular plant pathology, 9(5), 563-575.
                </p>
            
            </div>
            <img style="width:300px;" src="leaf_rust.png" alt="">
        </div>

        

        <div class="flexible" style="margin-top:100px;">
            

            <div style="max-width: 400px;">
                <h3><strong>stem rust</strong></h3>
                <p><strong>agent pathogen : </strong>Puccinia graminis</p>
                <p><strong>symptoms : </strong>
                    Plants do not usually show obvious disease symptoms until 7 to 15 days 
                    after infection when the oval pustules (uredinia) of powdery, brick-red
                     urediniospores break through the epidermis . Microscopically, these 
                     red spores are covered with fine spines . The pustules may be abundant 
                     and produced on both leaf surfaces and stems of grass hosts. Later in the
                      season, pustules (telia) of black teliospores begin to appear in infected
                       grass species . Microscopically, teliospores are two celled and thick walled. (Schumann et al 2000)</p>
                <p><strong>references :</strong>
                    Schumann, G.L. and K.J. Leonard. 2000. Stem rust of wheat (black rust). The Plant Health Instructor. DOI: 10.1094/PHI-I-2000-0721-01
                </p>
            
            </div>
            <img style="width:300px;" src="stem_rust.png" alt="">
        </div>

        
        <div class="flexible" style="margin-top:100px;">
            <div style="max-width: 400px;">
                <h3><strong>Stripe rust</strong></h3>
                <p><strong>agent pathogen : </strong>Puccinia striiformis f.sp. tritici</p>
                <p><strong>symptoms : </strong>The pustules are in globular form and yellow or orange in color, arranged in a streak along the veins of the leaves, hence the name of the species. They can also develop on the underside of leaves and on ears and grains(Aouali et Douici-Khalfi, 2009).</p>
                <p><strong>references :</strong>
                    Aouali S. And Douici-Khalfi A. (2009). Recueil Des Principales Maladies Fongiques Des Cereales En Algerie : Symptomes, Developpement Et Moyens De Lutte ; Itgc, El Harrach, Alger. P56.
                </p>
            
            </div>
            <img style="width:300px;" src="stripe_rust.png" alt="">
        </div>

        <div class="flexible" style="margin-top:100px;">
            <div style="max-width: 400px;">
                <h3><strong>Podery mildew</strong></h3>
                <p><strong>agent pathogen : </strong>Blumeria graminis f. sp. tritici</p>
                <p><strong>symptoms : </strong>Powdery mildew produces a white to gray cottony fungal growth on the upper leaf surface . This disease may occur on any above ground plant part, but it is usually most prevalent on the upper surface of the lower leaves. The conspicuous white to gray patches of fungus appear early in the growing season. In Georgia, depending on the growing area, variety planted, and environmental conditions, the disease usually occurs from February to May. The white powdery patches or pustules produce large quantities of small asexual conidia (also called oidia) in long chains, which are easily dislodged by wind or rain. When powdery mildew is severe, the entire leaf turns yellow and dies . Small, black fungal fruiting bodies (cleistothecia) may be seen immersed in the gray fungal tissue later in the season . Powdery mildew can cause severe blighting of the upper leaves and can attack the head of susceptible varieties.(Alfredo M.,2014)</p>
                <p><strong>references :</strong>
                    Alfredo M, Jeremy K, John Y, James B. Identification And Control Of Powdery Mildew Of Wheat In Georgia.2014.N°2.
                </p>
            
            </div>
            <img style="width:300px;" src="po.jpg" alt="">
        </div>

        <div class="flexible" style="margin-top:100px;">
            <div style="max-width: 400px;">
                <h3><strong>septoria leaf spot</strong></h3>
                <p><strong>agent pathogen : </strong>Septoria tritici</p>
                <p><strong>symptoms : </strong>The first symptoms appear on the lower leaves and gradually progress towards the upper leaves of the plant under favorable conditions for fungal development. The disease manifests as the appearance of chlorotic rectangular spots, which vary in size and later become necrotic (Ben Slimane, 2011).</p>
                <p><strong>references :</strong>
                    Ben Slimane R.(2011). Effets De La Septoriose Foliaire Sur La Senescence Et Les Flux D’azote Pendant Le Remplissage Des Grains Chez Le Ble Tendre Agronomie. Agroparistech, P187 P9.
                </p>
            
            </div>
            <img style="width:300px;" src="sept.jpg" alt="">
        </div>



        <div class="flexible" style="margin-top:100px;">
            <div style="max-width: 400px;">
                <h3><strong>Fusaruim Head blight</strong></h3>
                <p><strong>agent pathogen : </strong>Fusarium graminearum (Gibberella zeae)</p>
                <p><strong>symptoms : </strong>The first symptoms of Fusarium head blight occur shortly after flowering. Diseased spikelets exhibit premature bleaching as the pathogen grows and spreads within the head . One or more spikelets located in the top, middle, or bottom of the head may be bleached . Over time, the premature bleaching of the spikelets may progress throughout the entire head.
                    If the environment is warm and moist, aggregations of light pink/salmon colored spores (sporodochia) may appear on the rachis and glumes of individual spikelets .
                    As symptoms progress, the fungus colonizes the developing grain causing it to shrink and wrinkle inside the head . Often, the infected kernels have a rough, shriveled appearance, ranging in color from pink, soft-gray, to light-brown .(Schmale III.,2003)</p>
                <p><strong>references :</strong>
                    Schmale III, D.G. and G.C. Bergstrom. 2003 . Fusarium head blight in wheat. The Plant Health Instructor. DOI:10.1094/PHI-I-2003-0612-01.
                </p>
            
            </div>
            <img style="width:300px;" src="fu.jpg" alt="">
        </div>

    </div>




    <footer style="margin-top: 50px;">
        
        <h4>Copyright 2023 - Bioinformatic</h4>

    </footer>

</body>
</html>
