

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="public.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair&family=Raleway:ital,wght@0,200;1,100&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav>
        <img  id="logo" src="logo.png" alt="">

        <div id="links">
            <a href="/" class="current">Home</a>
            <a href="/species">Species wheat</a>
            <a href="/diseases">Fungal diseases</a>
            <a href="/protocols">Protocols</a>
            <a href="/admin">Admin</a>
           
        </div>
    </nav>




    <div id="banner">
        <div>
            <h1>Welcome to GRW - FDM Database</h1>
            <p>Genetic resistance wheat against fungal diseases by molecular markers</p>
            <a href="/search">View our database</a>
        </div>
    </div>


    <div class="container">
        
        <div id="about">
            
            <div class="flexible">
                <div>
                    <h2 class="title">About the Database</h2>
                    <p>
                        GRWFDM (genetic resistance of wheat against fungal diseases by molecular markers)web database contains the informations about the 2 species of wheat , fungal disease and their resistance genes which were identified by molecular markers.
                    </p>
                </div>
                <img src="aboutimg.png" alt="">
            </div>
        </div>


        <div id="wheatintro">
            <h2 class="title">Definition</h2>
            <p>Wheat is one of the world’s most commonly consumed cereal grains.</p>
            <p>It comes from a type of grass (Triticum) that is grown in countless varieties worldwide.</p>
            <p>Bread wheat, or common wheat, is the primary species. Several other closely related species include durum, spelt, emmer, einkorn, and Khorasan wheat</p>
            
            <img src="wheatintro.PNG" alt="">

            <p>
                White and whole-wheat flour are key ingredients in baked goods, such as bread. Other wheat-based foods include pasta, noodles, semolina, bulgur, and couscous.
            </p>

            <p>
                Wheat is highly controversial because it contains a protein called gluten, which can trigger a harmful immune response in predisposed individuals.
            </p>

            <p>
                However, for people who tolerate it, whole-grain wheat can be a rich source of various antioxidants, vitamins, minerals, and fiber.
            </p>

           
        </div>

        



        <div style="font-size: 20px; margin: 50px 0px;">
            <h2 class="title">Nutrition facts</h2>
            <p>Wheat is mainly composed of carbs but also has moderate amounts of protein</p>
            <ul>
                <li>Calories: 340</li>
                <li>Water: 11%</li>
                <li>Protein: 13.2 grams</li>
                <li>Carbs: 72 grams</li>
                <li>Sugar: 0.4 grams</li>
                <li>Fiber: 10.7 grams</li>
                <li>
                    Fat: 2.5 grams
                    </li>
            </ul>
        </div>



        <div style="font-size: 20px; margin: 50px 0px;">
            <h2 class="title">Vitamins and minerals</h2>
            <p>Whole wheat is a good source of several vitamins and minerals.</p>

            <p>As with most cereal grains, the amount of minerals depends on the soil in which it’s grown.</p>

            <ul>
                <li><strong>Selenium.</strong> This trace element has various essential functions in your body. The selenium content of wheat depends on the soil — and is very low in some regions, including China</li>
                <li><strong>Manganese.</strong> Found in high amounts in whole grains, legumes, fruits and vegetables, manganese may be poorly absorbed from whole wheat due to its phytic acid content</li>
                <li><strong>Phosphorus.</strong> This dietary mineral plays an essential role in the maintenance and growth of body tissues.</li>
                <li><strong>Copper.</strong> An essential trace element, copper is often low in the Western diet. Deficiency may have adverse effects on heart health</li>
                <li><strong>Folate.</strong> One of the B vitamins, folate is also known as folic acid or vitamin B9. It’s particularly important during pregnancy</li>
            </ul>   
        </div>
    </div>


    <footer style="margin-top: 50px;">
        
        <h4>Copyright 2023 - Bioinformatic</h4>

    </footer>
</body>
</html>