

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species</title>
    <link rel="stylesheet" href="public.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair&family=Raleway:ital,wght@0,200;1,100&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav>
        <img  id="logo" src="logo.png" alt="">

        <div id="links">
            <a href="/">Home</a>
            <a href="/species" class="current">Species wheat</a>
            <a href="/diseases">Fungal diseases</a>
            <a href="/protocols">Protocols</a>
            <a href="/admin">Admin</a>
           
        </div>
    </nav>




    <div class="container" style="margin-top: 200px;">
        
        <h1 class="title">Bread wheat </h1>
        <p style="margin: 30px 0px; color:rgb(104, 103, 103);">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam laborum fuga sit aliquam incidunt vitae magni iure, exercitationem nisi recusandae quos consequatur ipsum fugit at! Consequatur, eligendi. Maiores, laboriosam soluta.</p>
        <div class="flexible">
            <div>
                <h3>Taxonomy</h3>
                <ul>
                    <li><strong>Kingdom:</strong> Plantae (Plants)</li>
                    <li><strong>Division:</strong> Magnoliophyta (Angiosperms)</li>
                    <li><strong>Class:</strong> Liliopsida (Monocotyledons)</li>
                    <li><strong>Order:</strong> Poales</li>
                    <li><strong>Family:</strong> Poaceae (Grasses)</li>
                    <li><strong>Genus:</strong> Triticum</li>
                
                    <li><strong>Species</strong>: Triticum aestivum</li>
                </ul>
            </div>
            <img style="width: 300px;" src="blé tendre.jpg" alt="">
        </div>


        <h3 style="margin-top: 60px;" >Genetic origin</h3>
        <p style="color:rgb(10, 10, 10);">
            Common wheat is a hexaploid plant resulting from two successive natural hybridizations that increased the chromosome number from 14 to 42.
            The first natural cross occurred between two wild diploid species, Triticum urartu, a wild form of Triticum monococcum (2n = 14, genome AA), and T. Sitopsis (2n = 14, genome BB), resulting in tetraploid wheat, Triticum dicoccoides (2n = 28, genome AABB). The hybridization of T. dicoccoides with a wild grass, T. tauschii, with the genome DD, gave rise to 
            the current common wheat, Triticum aestivum (F. Samoulian, 2009).
        </p>




        <h1 class="title" style="margin-top: 150px;">Durum wheat</h1>

        <p style="margin: 30px 0px; color:rgb(104, 103, 103);">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam laborum fuga sit aliquam incidunt vitae magni iure, exercitationem nisi recusandae quos consequatur ipsum fugit at! Consequatur, eligendi. Maiores, laboriosam soluta.</p>
        <div class="flexible">
            <div>
                <h3>Taxonomy</h3>
                <ul>
                    <li><strong>Kingdom:</strong> Plantae (Plants)</li>
                    <li><strong>Division:</strong> Magnoliophyta (Angiosperms)</li>
                    <li><strong>Class:</strong> Liliopsida (Monocotyledons)</li>
                    <li><strong>Order:</strong> Poales</li>
                    <li><strong>Family:</strong> Poaceae (Grasses)</li>
                    <li><strong>Genus:</strong> Triticum </li>
                
                    <li><strong>Species</strong>: Triticum durum</li>
                </ul>
            </div>
            <img style="width: 300px;" src="blé_dur.jpg" alt="">
        </div>


        <h3 style="margin-top: 60px;" >Genetic origin</h3>
        <p style="color:rgb(10, 10, 10);">
            Durum wheat (T. turgidum ssp. durum Desf.) is an allo-tetraploid species (2n = 28, AABB) that originated from hybridization followed by chromosomal doubling between Triticum urartu (genome AA) and a closely related species of Aegilops speltoides (genome BB) (Huang et al., 2002).

            Wheat traces its origin back to a wild form of the diploid species (Triticum monococcum) sensu lato in a region encompassing Iran, Syria, and Turkey. The first tetraploid species, Triticum turgidum, resulted from hybridization between Triticum monococcum and a wheat-related grass called Aegilops speltoides. The first species contributed the A genome, and the latter contributed the B genome. The domestication of this tetraploid wheat (AABB) gave rise to durum wheat, 
            which is the origin of cultivated durum wheat varieties (Feldman, 1976).
        </p>

    </div>


    <footer style="margin-top: 50px;">
        
        <h4>Copyright 2023 - Bioinformatic</h4>

    </footer>
</body>
</html>
